@use "../variables" as *;

.hero-container {
  position: relative;
  height: 25rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  @media (min-width: $breakpoint-md) {
    height: 28rem;
  }
}

.hero-img-wrapper,
.clearer-hero-img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  img {
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    z-index: 0;
  }
}

.clearer-hero-img-wrapper {
  &::before {
    background: linear-gradient(
      $dimmer-background-overlay,
      $dimmer-background-overlay
    );
  }
}

.hero-img-wrapper {
  &::before {
    background: linear-gradient($background-overlay, $background-overlay);
  }
}

.hero-content {
  position: absolute;
  margin: $margin-mobile;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  z-index: 1;
  color: white;
  gap: $spacing-md;
  @media (min-width: $breakpoint-xs) {
    align-items: center;
  }
  p {
    font-weight: $font-weight-normal;
    @media (min-width: $breakpoint-md) {
      font-size: $font-size-lg;
    }
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  @media (min-width: $breakpoint-xs) {
    text-align: center;
  }
  #aprendizagem {
    text-align: center;
  }
}

.emd-logo {
  height: 70px;
  width: auto;
  @media (min-width: $breakpoint-md) {
    height: 110px;
  }
}

.certification-logo-container {
  display: flex;
  margin: 1rem;
  gap: $spacing-md;
  align-self: center;
  position: absolute;
  bottom: 0;
  img {
    height: 35px;
    width: auto;
    @media (min-width: $breakpoint-md) {
      height: 50px;
    }
  }
}
