@use "../variables" as *;

// Base Styles

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-xl;
  margin: $margin-mobile;

  @media (min-width: $breakpoint-xs) {
    margin: $margin-tablet;
  }

  @media (min-width: $breakpoint-md) {
    margin: $margin-laptop;
    gap: $spacing-xxl;
  }

  @media (min-width: $breakpoint-lg) {
    margin: $margin-desktop;
  }

  h1 {
    color: $color-terciary;
    font-size: $font-size-xl;
    text-align: center;
    @media (min-width: $breakpoint-md) {
      font-size: $font-size-2xl;
    }
  }
}

.contacts-card-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

.contacts-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;
  @media (min-width: $breakpoint-md) {
    padding: 2.5rem;
    width: 18rem;
  }
}
