@use "variables" as *;

.white-button {
  color: white;
  background: none;
  font-weight: $font-weight-bold;
  padding: 0.75rem 1.5rem;
  border: 2px solid white;
  border-radius: $border-radius-base;
  &:hover {
    background-color: white;
    color: $color-terciary;
    transition: 0.2s;
    cursor: pointer;
  }
}

.trigger-button {
  border: none;
  background: none;
}

.red-button {
  background: $color-primary;
  color: white;
  width: max-content;
  border-radius: $border-radius-base;
  border: none;
  padding: 0.75rem 1.5rem;
  box-shadow: $box-shadow;
  &:hover {
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.9;
  }
}
