@use "variables" as *;

.footer-layout-container {
  background-color: $color-footer;
  h2 {
    font-size: $font-size-base;
    color: #989d9e;
  }

  p,
  a {
    font-size: $font-size-xs;
    color: #989d9e;
    text-decoration: none;
    width: max-content;
  }

  a:hover {
    color: #c2c3c3;
    transition: 0.1s;
  }
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-md;
  padding: $spacing-md;
  background-color: white;
  @media (min-width: $breakpoint-xs) {
    gap: $spacing-xl;
  }
}

.footer-logo-properties {
  height: 1.5rem;
  width: auto;
  @media (min-width: $breakpoint-xs) {
    height: 2rem;
  }

  @media (min-width: $breakpoint-md) {
    height: 2.5rem;
  }

  @media (min-width: $breakpoint-lg) {
    height: 3rem;
  }
}

.main-footer-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  @media (min-width: $breakpoint-xs) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
}

.useful-links-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  p {
    margin: 0;
  }
}

.social-container {
  display: flex;
  padding: 1rem 0;
  gap: $spacing-sm;
}

.main-footer-container,
.copyright-container {
  margin: $margin-mobile;

  @media (min-width: $breakpoint-xs) {
    margin: $margin-tablet;
  }

  @media (min-width: $breakpoint-md) {
    margin: $margin-laptop;
  }

  @media (min-width: $breakpoint-lg) {
    margin: $margin-desktop;
  }
}

// Copyright

.copyright-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;
  border-top: 1px solid #4d4e4f;
  padding: 1rem 0;
  a {
    text-decoration: underline;
  }
}

// Extra Media Queries

@media (max-width: 375px) {
  .footer-logo-properties {
    height: 1.25rem;
    width: auto;
  }
}

@media (min-width: $breakpoint-md) {
  .footer-about-container {
    max-width: 16rem;
    word-break: break-all;
  }
}
