@use "variables" as *;

/* Global Reset */
* {
  box-sizing: border-box;
}

/* Body Styles */
body {
  margin: 0;
  font-family: $font-family, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */
p,
h1,
h2,
ul {
  margin: 0;
}

p,
ul {
  line-height: 1.5;
}

h1,
h2 {
  font-weight: $font-weight-bold;
}

h1 {
  color: white;
  font-size: $font-size-3xl;
  @media (min-width: $breakpoint-md) {
    font-size: $font-size-4xl;
  }
}

h2 {
  color: $color-terciary;
  font-size: $font-size-xl;
  @media (min-width: $breakpoint-md) {
    font-size: $font-size-2xl;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Animations for main container

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-container > section {
  opacity: 0; /* Start invisible */
  animation: fadeIn 500ms ease-in forwards;
}
